@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35vw;
  background: #2d3436;
}

nav .logo {
  height: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  font-weight: 800;
  margin-top: 5%;
  color: #ecf0f1;
}

nav .logo span {
  border-bottom: 4px solid #ecf0f1;
}

nav .logo a {
  text-decoration: none;
  color: #ecf0f1;
}

.content {
  padding: 5vw;
  background: #636e72;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
}

.content p {
  font-size: 5vw;
}

.content .sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #6c5ce7;
  border: 2px solid #a29bfe;
  border-radius: 20px;
  padding: 10px;
}

.content .sec1 h1 {
  letter-spacing: 2px;
}

.content .sec1 .fa-fighter-jet {
  font-size: 10vw;
  color: #dfe6e9;
  margin: 3vw;
  padding: 5vw;
  border: 2vw solid #dfe6e9;
  border-radius: 100px;
}

.content .sec2 {
  background: #0984e3;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 3px solid #74b9ff;
  border-radius: 20px;
  padding: 10px;
}

.content .sec2 .fa-list-ul {
  font-size: 20vw;
  color: #dfe6e9;
}

.content .sec3 {
  background: #fdcb6e;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 3px solid #ffeaa7;
  border-radius: 20px;
  padding: 10px;
}

.content .sec3 .fa-handshake {
  font-size: 20vw;
  color: #dfe6e9;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  height: 60px;
  width: 100%;
  padding: 5vw;
  color: #ecf0f1;
  background: #2d3436;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */