@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vw;
    background: #2d3436;

    .logo{
        height: 30%;
        font-family: 'Montserrat', sans-serif;
        font-size: 10vw;
        font-weight: 800;
        margin-top: 5%;
        color: #ecf0f1;

        span{
            border: 2px solid #ecf0f1;
            padding: 3px;
        }

        a{
            text-decoration: none;
            color: #ecf0f1;
        }
    }

    .nav-links{
        display: flex;
        margin-top: 5%;
        flex-wrap: wrap;
        justify-content: space-between;

        .nav-btn{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            list-style: none;
            text-decoration: none;
            color: #ecf0f1;
            margin: 3% 5vw;
            border-bottom: 0.5vw solid #ecf0f1;
            }
        
        #active{
            width: auto;
            padding: 5px;
            background: #ecf0f1;
            color: #2d3436;
            box-shadow: 0vw 1vw #0984e3;
            
        }
    }
}

.content{
    padding: 5vw;
    background: #636e72;
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;

    p{
        font-size: 5vw;
    }

    .sec2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1{
            letter-spacing: 2px;
        }

        .fa-fighter-jet{
            font-size: 10vw;
            color:#55efc4;
            margin: 3vw;
            padding: 5vw;
            border: 2vw solid #55efc4;
            border-radius: 100px;

        }

    }
}

footer{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    height: 60px;
    width: 100%;
    padding: 5vw;
    color: #ecf0f1;
    background: #2d3436;
    align-self: flex-end;
    text-align: center;
}
