@import url("https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap");
body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #1D3752;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 5%;
      grid-template-columns: 5% 1fr 5%;
  -ms-grid-rows: 80px auto 80px;
      grid-template-rows: 80px auto 80px;
      grid-template-areas: "top-links top-links top-links" "margin-left content margin-right" "navbar navbar navbar";
}

.top-links {
  width: 90%;
  height: 20%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: top-links;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.top-links .top-logo {
  height: auto;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.top-links .ltcd-logo {
  width: 100px;
  height: auto;
}

.top-links .chat-logo {
  font-size: 40px;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Nunito", sans-serif;
  color: white;
}

.content .bubble {
  background: #214D72;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0;
}

.content .bubble .bubble-heading {
  letter-spacing: 1px;
  font-size: 36px;
}

.content .bubble .bubble-content {
  font-size: 24px;
  margin: 5px 0;
}

.content .chat-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  background: #214D72;
  padding: 5px;
  border-radius: 35px;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.content .chat-bubble .chat-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.navbar {
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#1D3752), color-stop(70.83%, #166D8A));
  background: linear-gradient(180deg, #1D3752 0%, #166D8A 70.83%);
}

.navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-links .nav-link {
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */