@import url('https://fonts.googleapis.com/css?family=Nunito|Vampiro+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    // background: linear-gradient(180deg, #000000, #5B5B5B);
    min-height: 100vh;
    background: linear-gradient(#000000 20%, #5b5b5b 100%);
}

nav{
    background: #ecf0f1;
   display: flex;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 20px;
   align-content: center;
   min-height: 45px;


    .logo{
        display: flex;

        ion-icon{
            font-size: 40px;
            margin-right: 10px;
        }

        h1{
            font-family: 'Vampiro One', cursive !important;
            font-size: 32px;
        }
    }

    .linksBody{
        display: flex;
        list-style: none;
        width: 50vw;
        justify-content: space-between;
        font-family: "Nunito", sans-serif;
        padding: 4px;
        font-size: 20px;

        .link-wrapper{
            .link{
                text-decoration: none;
                color: black;
                padding: 3px;
                transition: 0.1s ease;

                &:hover{
                    font-size: 23px;
                    font-weight: bold;
                    color: #27ae60;
                    border-bottom: 3px solid #27ae60;
                }
            }

            .active{
                color: #27ae60;
                border-bottom: 2px solid #27ae60;
            }
        }
    }
}